{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="ui container fluid">
    <h3 class="ui block header">
        {{ title }}
    </h3>
</div><br>
<div class="ui container fluid">
    <table class="ui orange celled striped table">
        <thead class="full-width">
            <tr>
                <th colspan="5">
                    <a href="{{ url_for('route.summed_results')}}">
                        <div class="ui right floated small primary button">
                            Collate
                        </div>
                    </a>
                    {{ title }}
                    <a href="{{ url_for('route.new_result')}}">
                        <div class="ui small teal button">
                            Enter New Result
                        </div>
                    </a>
                </th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Sn</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date Entered</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for polling_unit in polling_units %}
            <a href="#" class="">
                <tr>
                    <td class="one width">{{ loop.index }}</td>
                    <td>{{ polling_unit.polling_unit_name }}</td>
                    <td>{{ polling_unit.polling_unit_description }}</td>
                    <td>{{ polling_unit.date_entered }}</td>
                    <td data-label="status">
                        <div class="ui buttons">
                            <a href="{{ url_for('route.polling_unit', polling_unit_id=polling_unit.polling_unit_id) }}"><button class="ui positive button active update-task-button">View</button></a>
                        </div>
                    </td>
                </tr>
            </a>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}